name: Deploy React App to GitHub Pages

on:
  push:
    branches:
      - main  # or whatever your default branch is

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'  # Specify the version of Node.js you want

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build
      
      - name: Configure Git
        run: |
          git config --global user.email "shivam0sharma85@gmail.com"
          git config --global user.name "Shivam Sharma"

      - name: Deploy to GitHub Pages
        run: |
          # Create a new branch named gh-pages
          git checkout -b gh-pages
          # Remove all files from the current branch
          git rm -rf .
          # Copy the contents of the build directory to the root
          cp -R build/* .
          # Add and commit the changes
          git add .
          git commit -m "Deploy React App"
          # Push to gh-pages branch
          git push --force https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/<shivam-sharma1>/<portfolio>.git gh-pages
